@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
btn,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

btn {
  cursor: pointer;
}

btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-----------------*/
.page-body {
  max-width: 1366px;
  margin: 0 auto;
}

.page-header {
  background-color: white;
  height: 85px;
  position: fixed;
  max-width: 1366px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1;
}
.page-header__header-box {
  padding: 35px 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo__link {
  font-family: "Playfair Display", serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.14em;
  margin-left: -0.3em;
  color: #555248;
}
.logo__name {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  letter-spacing: 0.14em;
  color: white;
}

.menu-text {
  width: 422px;
}
.menu-text__list {
  display: flex;
  justify-content: space-between;
}
.menu-text__link {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #555248;
}

.menu-icon {
  width: 99px;
}
.menu-icon__list {
  display: flex;
  justify-content: space-between;
}
.menu-icon__item {
  display: flex;
  align-items: center;
  position: relative;
}
.menu-icon__link {
  font-size: 0;
}
.menu-icon__counter {
  position: absolute;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 8px;
  line-height: 9px;
  text-align: center;
  color: #1B1A17;
  background-color: #E6C8B4;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  padding: 0.5em 0;
  margin-top: -25%;
  margin-left: 75%;
}

.presentation {
  height: 770px;
  padding-left: 180px;
  padding-right: 114px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}
.presentation__catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.presentation__title {
  color: #1B1A17;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  line-height: 60px;
  white-space: nowrap;
  margin-left: -65px;
}
.presentation__title::before {
  padding-left: 50px;
  content: "";
  font-size: 30%;
  border-top: 1px solid #8B8371;
  margin-right: 15px;
}
.presentation__subtitle {
  color: #1B1A17;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  line-height: 40px;
  margin-top: 0.4em;
}
.presentation__text {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #555248;
  opacity: 0.82;
  margin-top: 2em;
  margin-bottom: 4em;
}
.presentation__btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: #444240;
  color: white;
  padding: 27px 38px;
}
.presentation__main-product {
  display: flex;
  align-items: flex-start;
}
.presentation__prise-box {
  display: flex;
  align-items: center;
  padding-top: 20%;
  margin-right: -65px;
}
.presentation__prise-box::after {
  padding-left: 50px;
  content: "";
  font-size: 30%;
  border-top: 1px solid #8B8371;
  margin-left: 15px;
}
.presentation__prise {
  display: inline;
  font-family: Prata, serif;
  font-size: 16px;
  line-height: 22px;
  white-space: nowrap;
  color: #1B1A17;
  margin-right: 5px;
}
.presentation__background {
  position: absolute;
  width: 496px;
  height: 944px;
  border-radius: 100% 0 0 100%/70% 0 0 70%;
  background: #EAE3D4;
  z-index: -1;
  margin-top: -85px;
  left: 35%;
}
.presentation__image {
  max-width: 502px;
  margin: -3% 0;
}
.presentation__feature {
  font-family: Prata, serif;
  font-size: 16px;
  line-height: 22px;
  white-space: nowrap;
  color: #1B1A17;
  padding-top: 95%;
  margin-left: -100px;
}
.presentation__feature::before {
  padding-left: 50px;
  content: "";
  font-size: 30%;
  border-top: 1px solid #8B8371;
  margin-right: 15px;
}

.popular-goods {
  height: 720px;
  padding: 80px 100px 0;
}
.popular-goods__header {
  display: flex;
  flex-direction: column;
}
.popular-goods__title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
}
.popular-goods__link {
  text-align: right;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #444240;
  text-decoration: underline #C4C0B6;
  text-underline-offset: 0.8em;
}
.popular-goods__body {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.product {
  max-width: 370px;
  padding: 40px 30px 40px 40px;
}
.product__title {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #1B1A17;
  opacity: 0.82;
}
.product__prise {
  font-family: Prata, serif;
  font-size: 12px;
  line-height: 16px;
  color: #1B1A17;
  opacity: 0.82;
}
.product__image {
  max-width: 313px;
}
.product__link {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  line-height: 21px;
  color: #1B1A17;
  margin-left: -48px;
}
.product__link::before {
  padding-left: 30px;
  content: "";
  font-size: 30%;
  border-top: 1px solid #8B8371;
  margin-right: 18px;
}

.gallery {
  height: 519px;
  padding-left: 177px;
  padding-right: 222px;
  display: flex;
  justify-content: space-between;
}
.gallery__background {
  position: absolute;
  width: 468px;
  height: 519px;
  background: #F7F5EF;
  z-index: -1;
  margin-left: -177px;
}
.gallery__form {
  padding-top: 45px;
}
.gallery__btn {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: white;
  background-color: #D4B098;
  padding: 27px 38px;
}

.album {
  padding-top: 52px;
}
.album__image {
  max-width: 521px;
}
.album__row {
  display: flex;
  justify-content: end;
  padding-top: 22px;
  padding-right: 60px;
}
.album__btn-box {
  display: flex;
  justify-content: space-between;
  width: 63px;
}
.album__image-number {
  font-family: Prata, serif;
  font-size: 12px;
  line-height: 16px;
}

.desc {
  padding-top: 140px;
}
.desc__title {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  line-height: 43px;
  color: #1B1A17;
  margin-bottom: 1.1em;
  white-space: nowrap;
}
.desc__text {
  max-width: 376px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #444240;
}

.subs {
  height: 631px;
  padding: 102px 100px 0;
  display: flex;
  justify-content: space-between;
}
.subs__menu-icon {
  padding-top: 119px;
  color: #59505C;
}

.image-box {
  display: flex;
}
.image-box__image {
  max-height: 460px;
  margin-left: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}
.column__image {
  max-width: 242px;
  margin-bottom: 10px;
}

.page-footer {
  height: 275px;
  padding: 79px 185px 0;
  display: flex;
  justify-content: space-between;
  background: #444240;
}
.page-footer__item {
  align-self: baseline;
}
.page-footer__logo {
  display: flex;
  align-items: flex-end;
}
.page-footer__list {
  padding-top: 18px;
}
.page-footer__list-item {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: white;
  opacity: 0.75;
  padding-top: 15px;
}
.page-footer__title {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: white;
}
.page-footer__link {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: white;
  opacity: 0.75;
}